.Counter{
    text-align: center;
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;
}
.Counter div{
    display: inline-block;
    font-size: 80px;
    line-height: 80px;
    height: 100px;
    background: #1b1b1b;
    color: white;
    padding: 10px;
    margin: 6px;
    border-radius:15%;

}
